<div class="nested-fields teams-user-fields">
	<div id="user_from_list">
		<%= f.association :user, :collection => User.all, :label => false%>
	
	
	
	</div>
	<%= link_to_remove_association 'Remove',f, :class=>"btn btn-inv btn-block"%>
	
</div>
