<div class="nested-fields teams-competition-fields">
	<div id="team_from_list">
		<%= f.association :team, :collection => Team.all%>
	
	<%= link_to_remove_association 'remove team',f, :class=>"btn btn-default"%>
	
	</div>
	
</div>