<div class="nested-fields teams-competition-fields">
	<div id="team_from_list">
		<%= f.association :team, :collection => Team.all, :label => false%>
		
	</div>
	<%= link_to_remove_association 'Remove',f, :class=>"btn btn-inv btn-block"%>
	
	<br>
</div>