<div class="jumbotron text-center no-b-pad white-b blue-t">
	<h1>Edit <%=@competition.name%></h1>
	<hr class="blue">
	<%= link_to 'View', @competition, :class => 'btn btn-default' %> 
	<%= link_to 'Remove', @competition, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-default' %>
</div>
<%= render 'form' %>
	

