<div class="jumbotron dead-cent text-center no-b-pad white-b blue-t">
	<h1><strong>Comp</strong>anion</h1>
	<hr class="blue">
	<%=link_to 'Login', new_user_session_path, :class => 'btn btn-default btn-lg' %>
	<%=link_to 'Sign Up', new_user_registration_path, :class => 'btn btn-default btn-lg' %>
</div>
